<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/admin/js/jquery-1.9.1.min.js"></script>
    <script src="/static/admin/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/detail.css">
    <script type="text/javascript" src="/static/scripts/detail.js"></script>
    {% block head %}
        <div id="header"><h1>服务器详细信息</h1></div>
    {% endblock %}
    <title>详细信息</title>
</head>

{% block link %}
<!--<div id="link">
    <button onclick="window.open('/')">首页</button>
    <button onclick="window.open('/technology/web/host/')">老化测试系统</button>
    <button onclick="window.open('/bugsystem/')">Debug提交</button>
    <button onclick="window.open('/technology/technology/error/')">Debug系统</button>
    <button onclick="window.open('/technology/web/hostcheck/')">近期服务器信息</button>
    <span></span>
</div>--!>
{% endblock %}
<body>
{% block message %}
<!--
<div id="nav">
        <li><a href="detail">详细信息</a></li>
        <li><a href="board">主板信息</a></li>
        <li><a href="ipmi">IPMI信息</a></li>
        <li><a href="pcie">PCIE信息</a></li>
        <li><a href="smart">SMART</a></li>
</div>--!>
{% endblock %}
<table  class="table table-hover" width="95%" align="center" style=" word-break:break-all;">
    <br>
    {% block table %}
    <tr>
    </tr>
    <tbody>
    <tr>
        <th>CHECK STAT</th>
        </td>
        <td>
            <pre>{{ form.CHECK_STAT }}</pre>
        </td>
        <th>IP</th>
        <td>
            <pre>{{ form.IP }}</pre>
        </td>
    </tr>
    <tr>
        <th>SN</th>
        <td>
            <pre>{{ form.SN }}</pre>
        </td>
        <th>SN1</th>
        <td>
            <pre>{{ form.SN1 }}</pre>
        </td>
    </tr>
    <tr>
        <th>NAME</th>
        <td>
            <pre>{{ form.NAME }}</pre>
        </td>
        <th>FAMILY</th>
        <td>
            <pre>{{ form.FAMILY }}{{ form.FIMILY }}</pre>
        </td>
    </tr>
    <tr>
        <th>TIME</th>
        <td>
            <pre>{{ form.TIME }}</pre>
        </td>
        <th>BOOT_TIME</th>
        <td>
            <pre>{{ form.BOOT_TIME }}</pre>
        </td>
    </tr>
    <tr>
        <th>BIOS TIME</th>
        <td>
            <pre>{{ form.BIOS_TIME }}</pre>
        </td>
        <th>CPU</th>
        <td>
            <pre>{{ form.CPU }}</pre>
        </td>
    </tr>
    <tr>
        <th>MEMORY</th>
        <td>
            <pre>{{ form.MEMORY_INFO }}</pre>
        </td>
        <th>DISK</th>
        <td>
            <pre>{{ form.DISK_INFO }}</pre>
        </td>
    </tr>
    <tr>
        <th colspan="1">RAID</th>
        <td colspan="3">
            <pre>{{ form.RAID_INFO }}</pre>
        </td>
    </tr>
    <tr>
        <th>MAC</th>
        <td>
            <pre>{{ form.MAC_INFO }}</pre>
        </td>
        <th>NETWORK</th>
        <td>
            <pre>{{ form.NETWORK_INFO }}</pre>
        </td>
    </tr>
    <tr>
        <th>BIOS VERSION</th>
        <td>
            <pre>{{ form.BIOS_VERSION }}</pre>
        </td>
        <th>BMC VERSION</th>
        <td>
            <pre>{{ form.BMC_VERSION }}</pre>
        </td>
    </tr>
    <tr>
        <th colspan="1">PCIE</th>
        <td colspan="3">
            <pre>{{ form.PCIE_INFO }}</pre>
        </td>
    </tr>
    <tr>
        <th colspan="1">FRU</th>
        <td colspan="3" id="fru">
            <pre >{{ form.FRU_INFO }}</pre>
        </td>
    </tr>
    <tr>
        <th colspan="1">LOCATE DISK</th>
        <td colspan="3">
            <pre>{{ form.LOCATE_DISK }}</pre>
        </td>
    </tr>
    <tr>
        <th colspan="1">LOCATE MEMORY</th>
        <td colspan="3" id="locate">
            <pre>{{ form.LOCATE_MEMORY }}</pre>
        </td>
    </tr>
    <tr>
        <th colspan="1">SEL LOG</th>
        <td colspan="3" id="sel">
            <pre>{{ all.sel }}</pre>
        </td>
    </tr>
    <tr>
        <th colspan="1">SMART INFO</th>
        <td colspan="3" id="smart">
            <pre>{{ all.smart_info }}</pre>
        </td>
    </tr>
    </tbody>
    {% endblock %}
</table>

</body>
</html>
