button {
    font-size: 15px;
    background: #007aff;
    border-radius: 10px;
}

h4 {
    color: green;
    font-size: 20px;
    text-align: center;

}

td, th {
    color: green;
    text-align: center;
    font-size: 20px;
}

.left {
    float: left;
    color: green
}

body {
    text-align: center;
    background-color: gainsboro;
}

.right {
    float: right;
}

td {
    color: green
}
